<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Param Output</title>
</head>
<body>
    <p>demo:output param from url parameters</p>
    <p th:text="${core}"></p>
    <div>
        <p>books</p>
        <form action="/books/list" th:action="@{/books/list}" th:object="${book}" method="post">
            <input type="text" th:name="name" /><br/>
            <input type="text" th:name="author" /><br/>
            <input type="text" th:name="price" /><br/>
            <input type="submit" value="submit" />
        </form>
    </div>
    <div th:if="${bean != null}">
        <div th:text="${bean['name']}"></div>
        <div th:text="${bean.name}"></div>
        <div th:text="${bean.getValue()}"></div>
    </div>
</body>
</html>