<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>index</title>
</head>
<body>
    <div th:include="components/header :: header"></div>
    <div class="container">
        <p>hello, spring boot!</p>
        <table>
            <thead>
                <tr th:each="list : ${name}">
                    <th th:text="${listStat.index}">No.</th>
                    <th th:text="${list}">Content</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    <div th:include="components/footer :: footer"></div>
</body>
</html>