<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Learn</title>
</head>
<body>
    <p>learnnig list</p>
    <div th:if="${list.size()>0}">
        <ul th:each="ls : ${list}">
            <li th:text="${ls.name}"></li>
            <li th:text="${ls.author}"></li>
            <li th:text="${ls.price}"></li>
            <li th:text="${ls.content}"></li>
        </ul>
    </div>
    <div>
        <form action="/learn/add" method="post">
            <input type="text" th:name="learnDto.name" /><br/>
            <input type="text" th:name="learnDto.author" /><br/>
            <input type="text" th:name="learnDto.price" /><br/>
            <textarea th:name="learnDto.content"></textarea><br/>

            <input type="submit" value="add"/>
        </form>
    </div>
</body>
</html>